URxvt.font: xft:Ubuntu\ Mono:bold:pixelsize=12
URxvt.boldFont: xft:Ubuntu\ Mono:bold:pixelsize=12
URxvt*termName:screen-256color
!URxvt.tabbed.tabbar-fg: 7
!URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    7
URxvt.tabbed.tab-bg:    10

!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintfull

!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------

URxvt.depth:                4
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       0
URxvt.lineSpace:            0

! Fonts
URxvt.allow_bold:           true

! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.perl-lib:      /home/kecebongsoft/.urxvt
URxvt.perl-ext:      default,tabbedex
URxvt.matcher.button:       1
URxvt.urlLauncher:          chrome

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

! colours for hybrid.vim (copied from Tomorrow-Night)
! #define t_background #1d1f21
!#define t_current_line #282a2e
!#define t_selection #373b41
!#define t_foreground #c5c8c6
!#define t_comment #969896
!#define t_red #cc6666
!#define t_orange #de935f
!#define t_yellow #f0c674
!#define t_green #b5bd68
!#define t_aqua #8abeb7
!#define t_blue #81a2be
!#define t_purple #b294bb
!!
!! ! terminal colours
!*background: t_background
!*foreground: t_comment
!! ! black
!*color0: t_current_line
!*color8: t_selection
!! ! red
!*color1: #A54242
!*color9: t_red
!! ! green
!*color2: #8C9440
!*color10: t_green
!! ! yellow
!*color3: t_orange
!*color11: t_yellow
!! ! blue
!*color4: #5F819D
!*color12: t_blue
!! ! magenta
!*color5: #85678F
!*color13: t_purple
!! ! cyan
!*color6: #5E8D87
!*color14: t_aqua
!! ! white
!*color7: t_comment
!*color15: t_foreground
!

*background: #002b36
*foreground: #657b83
!*fading: 40
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3
